.customer {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 2vw;
  color: $primary-background;
}

.bookings {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-left: 2vw;
  background-color: $header;
  width: 97%;
  margin-top: 2vw;
  text-align: center;
  height: 40%;
  overflow: scroll;
}

.bookings-cost {
  box-sizing: border-box;
  background-color: $header;
  width: 30vw;
  margin-top: 2vw;
  text-align: center;
  height: 40%;
  overflow: scroll;
}

