// Main Customer Dashboard Setting //
.customer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  color: $header;
}

// Customer Dashboard //
.todays-booking {
  box-sizing: border-box;
  height: 65vh;
  overflow: scroll;
  margin-left: 2vw;
  background-color: $gray;
  width: 22vw;
  margin-top: 2vw;
  text-align: center;
}

.past-bookings-dashboard {
  @extend .todays-booking;
}

.future-bookings-dashboard {
  @extend .todays-booking;
}

.bookings-cost {
  @extend .todays-booking;
  margin-right: 2vw;
}