// Main Manager Dashboard Settings //
.manager {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2vw;
  color: $header;
}

// Manager Dashboard //
.rooms-available {
  margin-left: 2vw;
}

.rooms-available,
.rooms-occupied,
.revenue {
  box-sizing: border-box;
  background-color: $gray;;
  width: 30vw;
  margin-top: 2vw;
  text-align: center;
}