@media screen and (max-width: 1300px) {
  header {
    height: 13vw;
    background-color: $header;
  }
}

@media screen and (max-width: 1100px){
  header {
    height: 15vw;
    background-color: $header;
  }

  h1 {
    font-size: 6vw;
  }

  .manager-title {
    font-size: 6vw;
  }

  .number-rooms-available,
  .percent-occupied,
  .total-revenue {
    font-size: 8vw;
  }

  .rooms-available,
  .rooms-occupied,
  .revenue {
    width: 70vw;
  }

  .rooms-available {
    margin-left: 0;
  }

  .manager {
    display: flex;
    flex-direction: column;
    grid-template-columns: 1fr;
    margin: 2.5vw;
    align-items: center;
  }

  .customer {
    display: flex;
    flex-direction: column;
    grid-template-columns: 1fr;
    margin: 2.5vw;
    align-items: center;
  }

  .past-bookings-dashboard,
  .todays-booking,
  .future-bookings-dashboard,
  .bookings-cost {
    width: 95%;
    height: 250px;
  }

  .bookings-cost {
    margin-right: 0;
  }

  .dashboard-past-bookings,
  .dashboard-today-booking,
  .dashboard-future-bookings,
  .dashboard-amount-spent {
    font-size: 6vw;
  }

  .display-history {
    font-size: 4vw;
  }

  .customer-amount-spent {
    font-size: 9vw;
  }

  .search-styling {
    padding: 2vw 0;
  }

  .psw-submit {
    margin-top: 3%;
  }

  .filter-date {
    margin: 2.5vw 2vw;
  }
}

@media screen and (max-width: 700px) {
  header {
    height: 18vw;
    background-color: $header;
  }

  .psw-submit {
    font-size: 2vw;
    margin-left: 5%;
  }

  .select-date,
  .search {
    margin: 2.5vw 2vw;
    height: 3vw;
  }
}