// Main Navigation Bar //
.top-bar {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 12vw;
  background-color: $header;
  box-shadow: 2px 2px 6px #3a1836;
}

.change-height {
  height: 8vw;
}

.hotel-name {
  margin: 0 2vw;
  color: $gray;
}

.hotel-title {
  margin-top: 3vw;
}

.sign-in {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  justify-content: flex-end;
}

.name-display {
  grid-area: none;
}

.displayed-name {
  text-align: right;
  color: $gray;
  margin: 6vw 1.5vw;
}

.search,
.username,
.password {
  height: 2.5vw;
  width: 75%;
  margin: 2vw;
}

.password {
  display: grid;
  margin: 0 2vw;
}

.psw-submit {
  background-color: $header;
  color: $gray;
  border: none;
  font-size: 1.6vw;
  width: 80%;
  margin-left: 13%;
}

// Additional Customer/Manager Bars //
.search-bar,
.select-date {
  background-color: $header;
  color: $gray;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 0;
  height: 5.5vw;
  padding-bottom: 2vh;
  box-shadow: 2px 2px 6px #3a1836;
}

.filter-date {
  margin: 2vw;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

label {
  font-size: 2vw;
  padding-top: .7vw;
}

.booking-selection {
  height: 35px;
  margin-top: 1vh;
}

.submit-date {
  height: 35px;
  margin-top: 1vh;
  width: 15vw;
  background-color: $header;
  color: $gray;
  border: none;
  font-size: 30px;
}

.today-date {
  text-align: right;
  padding-right: 3.5vw;
  align-items: flex-end;
}