/* This is an example of using Sass, otherwise plain CSS works too*/
@import 'variables';
@import 'mixins';
@import 'fonts';
@import 'welcome-page';
@import 'nav-bar';
@import 'booking-page';
@import 'customer-dashboard';
@import 'manager-dashboard';
@import 'search-results';
@import 'media-queries';

body {
  background: $primary-background;
  margin: 0;
}

.hide {
  display: none;
}

/*need to style filter date button-it needs to be a dropdown date selector?*/

