@import 'variables';
@import 'fonts';
@import 'welcome-page';
@import 'nav-bar';
@import 'booking-page';
@import 'customer-dashboard';
@import 'manager-dashboard';
@import 'search-results';
@import 'media-queries';

body {
  background: $primary-background;
  margin: 0;
}

.hide {
  display: none;
}
